.contenedor    
    .conocimientos
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr
        text-align: center
        padding: 0px 200px
        font-size: 10vw
    
    .barras-gato
        display: grid
        grid-template-columns: 1fr 2fr
        flex-flow: column
        height: 100%
        flex-grow: 1
        padding: 0px 40px
        .gato
            img 
                position: absolute
                height: 60%
                width: auto
                bottom: 0
        .barras
            text-align: center
            font-size: 30px
            font-family: impact

@media only screen and (max-width: 1000px)
    .contenedor
        .conocimientos
            padding: 0px
        .barras-gato
            grid-template-columns: 1fr
            .gato
                display: none